<div class="logo-section">
    <a href="/">
        <img src="/resources/logo-portrait.png" alt="CRYSTALINE">
    </a>
    <nav class="header-nav">
        <a href="/">Home</a> | <a href="/comic">Latest</a> | <a href="/chapters">Chapters</a>
    </nav>
</div>